<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiscordAstroBot.Mappers.Simbad.SIMBADSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DiscordAstroBot.Simbad.SIMBADSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiscordAstroBot.Mappers.Simbad.SIMBADSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DiscordAstroBot.Simbad.SIMBADSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="100" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

  <appSettings>
    <add key="AstrometryTokenFilePath" value="\\192.168.1.12\Documents\Tino\AstrometryToken.txt" />
    <add key="TokenFilePath" value="\\192.168.1.12\Documents\Tino\AstroDiscordBotToken.txt" />
    <add key="ChatPrefix" value="astrobot" />
    <add key="WhiteListEnabled" value="false" />
    <add key="OwnerName" value="Cobra#8151" />
    <add key="AstropyWCSConverterPath" value="C:\AstropyWCSConverter"/>
  </appSettings>

  <applicationSettings>
    <DiscordAstroBot.Mappers.Simbad.SIMBADSettings>
      <setting name="ObjectQuery" serializeAs="String">
        <value>output console=off script=off
set row limit 1
format object f1 "[[Main_id]]\n%IDLIST(1)\n" +
"[[ObjectType]]\n%OTYPE(V)\n" +
"[[Coordinates]]\nRA: %COO(d;A)\nDEC: %COO(d;D)\n" +
"[[Identifiers]]\n%IDLIST[%-20*\n]\n"+
"[[OtherTypes]]\n%OTYPELIST(V\n)\n"+
"[[ProperMotion]]\nRA: %PM(A)\nDEC: %PM(D)\n" +
"[[Parallax]]\nValue: %PLX(V)\nError: %PLX(E)\n" +
"[[RadialVelocity]]\nz: %RV(Z)\nError: %RV(E)\nv: %RV(V)\n" +
"[[Distances]]\n%MEASLIST(distance)\n" +
"[[Fluxes]]\n%FLUXLIST()[%*(N=F)\n]\n" +
"[[Dimensions]]\n%DIM(X Y A)\n\n" +
"[[end]]\n"
query id {0}</value>
      </setting>
    </DiscordAstroBot.Mappers.Simbad.SIMBADSettings>
    <DiscordAstroBot.Simbad.SIMBADSettings>
      <setting name="ObjectQuery" serializeAs="String">
        <value>output console=off script=off
set row limit 1
format object f1 "[[Main_id]]\n%IDLIST(1)\n" +
"[[ObjectType]]\n%OTYPE(V)\n" +
"[[Coordinates]]\nRA: %COO(A)\nDEC: %COO(D)\n" +
"[[Identifiers]]\n%IDLIST[%-20*\n]\n"+
"[[OtherTypes]]\n%OTYPELIST(V\n)\n"+
"[[ProperMotion]]\nRA: %PM(A)\nDEC: %PM(D)\n" +
"[[Parallax]]\nValue: %PLX(V)\nError: %PLX(E)\n" +
"[[RadialVelocity]]\nz: %RV(Z)\nError: %RV(E)\nv: %RV(V)\n" +
"[[Distances]]\n%MEASLIST(distance)\n" +
"[[Fluxes]]\n%FLUXLIST()[%*(N=F)\n]\n" +
"[[end]]"
query id {0}</value>
      </setting>
    </DiscordAstroBot.Simbad.SIMBADSettings>
  </applicationSettings>
  <userSettings>
    <DiscordAstroBot.Mappers.Simbad.SIMBADSettings>
      <setting name="IdentifierNotFoundMessage" serializeAs="String">
        <value>Identifier not found in the database</value>
      </setting>
      <setting name="RegionQuery" serializeAs="String">
        <value>format object f1 "[[Main_id]]\n%IDLIST(1)\n" +
"[[ObjectType]]\n%OTYPE(V)\n" +
"[[Coordinates]]\nRA: %COO(d;A)\nDEC: %COO(d;D)\n" +
"[[Identifiers]]\n%IDLIST[%-20*\n]\n"+
"[[OtherTypes]]\n%OTYPELIST(V\n)\n"+
"[[ProperMotion]]\nRA: %PM(A)\nDEC: %PM(D)\n" +
"[[Parallax]]\nValue: %PLX(V)\nError: %PLX(E)\n" +
"[[RadialVelocity]]\nz: %RV(Z)\nError: %RV(E)\nv: %RV(V)\n" +
"[[Distances]]\n%MEASLIST(distance)\n" +
"[[Fluxes]]\n%FLUXLIST()[%*(N=F)\n]\n" +
"[[Dimensions]]\n%DIM(X Y A)\n\n" +
"[[end]]\n"

query sample ra &gt; {RALowerLimit} &amp; ra &lt; {RAUpperLimit} &amp; dec &lt; {DECUpperLimit} &amp; dec &gt; {DECLowerLimit} &amp; (maintype != 'star' | cat = "HD" | cat = "NAME")</value>
      </setting>
    </DiscordAstroBot.Mappers.Simbad.SIMBADSettings>
    <DiscordAstroBot.Simbad.SIMBADSettings>
      <setting name="IdentifierNotFoundMessage" serializeAs="String">
        <value>Identifier not found in the database</value>
      </setting>
    </DiscordAstroBot.Simbad.SIMBADSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
